@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

section {
    background-color: #8FAADC;
}

.inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* Se realiza css de la clase home */

.home .logo {
    width: 25%;
    position: absolute;
    margin: 20px 150px;
    background-position: center;
}

.home .perroCarnet {
    width: 10%;
    position: absolute;
    margin: 20px 55%;
    background-position: center;
}

.home button {
    width: 10%;
    height: 45px;
    margin: 50px 100px 100px 1080px;
    border-radius: 10px;
    background: #F5F5F5;
    outline: none;
    cursor: pointer;
    border: none;
    transition: .4s;
}

.home button:hover {
    opacity: .10;
}

.home button a {
    text-decoration: none;
    color: black;
}

.inicio .home .container {
    position: relative;
    border: 3px solid black;
    margin: 20px 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inicio .home .container .opciones {
    position: relative;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(15px);
}

.inicio .home .container .opciones .perroPerfil,
.perroCitas,
.perroContacto {
    margin: 10px 20px 10px 20px;
}

.inicio .home .container .opciones .textPerfil {
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 3em;
    color: white;
    --more: 5px;
    --minus: calc(var(--more) * -1);
    --border-color: black;
    filter:
        drop-shadow(var(--more) 0 0 var(--border-color)) 
        drop-shadow(var(--minus) 0 0 var(--border-color)) 
        drop-shadow(0 var(--more) 0 var(--border-color)) 
        drop-shadow(0 var(--minus) 0 var(--border-color));
}

.inicio .home .container .opciones .textCitas {
    position: absolute;
    top: 80%;
    left: 43%;
    font-size: 3em;
    color: white;
    --more: 5px;
    --minus: calc(var(--more) * -1);
    --border-color: black;
    filter:
        drop-shadow(var(--more) 0 0 var(--border-color)) 
        drop-shadow(var(--minus) 0 0 var(--border-color)) 
        drop-shadow(0 var(--more) 0 var(--border-color)) 
        drop-shadow(0 var(--minus) 0 var(--border-color));
}

.inicio .home .container .opciones .textContacto {
    position: absolute;
    top: 80%;
    left: 70%;
    font-size: 3em;
    color: white;
    --more: 5px;
    --minus: calc(var(--more) * -1);
    --border-color: black;
    filter:
        drop-shadow(var(--more) 0 0 var(--border-color)) 
        drop-shadow(var(--minus) 0 0 var(--border-color)) 
        drop-shadow(0 var(--more) 0 var(--border-color)) 
        drop-shadow(0 var(--minus) 0 var(--border-color));
}

.inicio .home .container .informacion {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    border: 3px solid black;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 10px 10px 10px;
    backdrop-filter: blur(15px);
}

.home .input-perfil input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
}

.home .input-perfil ::placeholder {
    color: black;
}